@font-face {
  font-family: 'Geist OG';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/geist-og-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist OG';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/geist-og-600.ttf') format('truetype');
}
